[submodule "src/extensions/AbuseFilter"]
	path = src/extensions/AbuseFilter
	url = https://github.com/wikimedia/mediawiki-extensions-AbuseFilter
[submodule "src/extensions/Echo"]
	path = src/extensions/Echo
	url = https://github.com/wikimedia/mediawiki-extensions-Echo
[submodule "src/extensions/NewUserMessage"]
	path = src/extensions/NewUserMessage
	url = https://github.com/wikimedia/mediawiki-extensions-NewUserMessage
[submodule "src/extensions/RedditThumbnail"]
	path = src/extensions/RedditThumbnail
	url = https://github.com/ThePortalWiki/RedditThumbnail.git
[submodule "src/extensions/Scribunto"]
	path = src/extensions/Scribunto
	url = https://github.com/wikimedia/mediawiki-extensions-Scribunto
[submodule "src/extensions/UserMerge"]
	path = src/extensions/UserMerge
	url = https://github.com/wikimedia/mediawiki-extensions-UserMerge
[submodule "src/extensions/EmbedVideo"]
	path = src/extensions/EmbedVideo
	url = https://gitlab.com/hydrawiki/extensions/EmbedVideo.git
[submodule "src/extensions/CheckUser"]
	path = src/extensions/CheckUser
	url = https://github.com/wikimedia/mediawiki-extensions-CheckUser
[submodule "src/extensions/Flow"]
	path = src/extensions/Flow
	url = git@github.com:wikimedia/mediawiki-extensions-Flow.git
[submodule "src/extensions/Thanks"]
	path = src/extensions/Thanks
	url = git@github.com:wikimedia/mediawiki-extensions-Thanks.git
[submodule "ext/luasandbox"]
	path = ext/luasandbox
	url = https://gerrit.wikimedia.org/r/mediawiki/php/luasandbox.git
[submodule "src/extensions/Sentry"]
	path = src/extensions/Sentry
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Sentry.git
[submodule "src/extensions/Buggy"]
	path = src/extensions/Buggy
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Buggy.git
